extends base

mixin article(post)
  article
    header
      if is_post()
        h2= post.title
      else
        h2
          a(href=url_for(post.path))= post.title
      
    .article-meta.clearfix
      time.pull-left= post.date.format(config.date_format)
      
      if post.categories
        ul.tags.pull-left
          - post.categories.each(function(category) {
            li
              a(href=url_for(category.path))= category.name
          - });
        
      if post.tags
        ul.tags.pull-right
          - post.tags.each(function(tag) {
            li
              a(href=url_for(tag.path))= tag.name
          - });
      
    div!= post.content

block body
  if page.posts
    - page.posts.each(function(post) {
      +article(post)
    - });
  else
    +article(page)
